.resize-drag {
    /* background-color: rgb(106, 141, 53); */
    background-color: white;
    background: linear-gradient(0deg, #3949ab 0%, #3949ab 11%, white 11%, white 100%);
    /* color: white; */
    font-size: 15px;
    font-family: sans-serif;
    border-radius: 4px;
    border: 1px solid #3949ab;
    /* padding-left: 0px; */
    padding-top: 5px;
    /*padding-right: 7.5px;*/
    padding-bottom: 46px;
    touch-action: none;
    width: 310px;
    height: 450px;
    position: fixed;
    z-index: 1200;
    bottom: 30px;
    right: 76px;

    /* This makes things *much* easier */
    box-sizing: border-box;
}

#nazwaChatu {
  width: 70%;
  float: left; 
  padding: 0; 
  padding-left: 10px;
}
.wiadomoscmoja {
    width: fit-content;
    width: -moz-fit-content;
    background-color: #0084ff;
    display:block;
    word-wrap:break-word !important;
    max-width: 75%;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 3px;
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 4px;
}
.wiadomosc {
    width: fit-content;
    width: -moz-fit-content;
    background-color: #f1f0f0;
    color: black;
    display:block;
    word-wrap:break-word !important;
    max-width: 75%;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 3px;
    margin-right: 10px;
    margin-bottom: 3px;
    padding: 4px;
}
.wiadomoscbox {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px; 
    margin-bottom: 10px;
}
.message {
    background-color: #FFF !important;
    color: #FFF !important;
    /* border-radius: 0px; */
    border-top: 1px solid #eeeeee;
    /* min-width: 100%;
    max-width: 194px; */
    width: 255px;
    height: 355px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

#kominikatyChat {
    color: rgb(0, 0, 0) !important;  
    width: 3px;
    height: 3px;
}

#messagesend {
    margin-left: 2px;
    margin-bottom: 2px;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

/* .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
} */

#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.font { 
    position: relative; 
} 
          
.font i{ 
    position: absolute; 
    left: 15px; 
    top: 20px; 
} 

.loadingcol {
    color: black;
}

.input-group-my {
  width: 120% !important;
  padding-top: 10px;
}
.inputWiad {
  width: 80%; 
  height: 35px; 
  border-top-left-radius: 5px; 
  border-bottom-left-radius: 5px; 
  margin-left: 5px; 
  border: none;
}

.inputWiad:focus {
  border: 1px solid lightblue;
  outline: none;
}
.inputStyle {
  width: 120%;
}

.loading:after {
    color: black;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }



  #tree {
    max-height: 350px; 
    width: 300px; 
    float: right; 
    padding: 0; 
    margin-bottom: -20px; 
    color: black; 
    display: none;
    overflow: auto;
    overflow-x: hidden;
    
  }

  #tree button {
    padding-right: 0;
    margin: auto; 
    background-color: white; 
    width:auto; 
    text-align: left;
  }
  #form{
    padding-left: 7.5px;
    width: 100%;
  } 

  #latestGroups {
    height: 90%; 
    /* width: auto;  */
    width: 51px;
    max-width: 51px;
    float: left; 
    padding: 0; 
    margin-bottom: -20px; 
    color: black;
  }

  .latestGroupsItem {
    height: 12.5%; 
    width: 100%; 
    margin-right: 5px;
    border-bottom: 1px solid gray; 
    display: flex;
    font-weight: bold;
    font-size: larger;
  }

  .latestGroupsItem button{
    padding: auto;
    padding-left: 1px;
    padding-right: 1px;
    width: 40px;
    height: 40px;
    /* text-overflow: ellipsis; */
    overflow: hidden; 
    /* width: 80%;  */
    max-width: 60px;
    /* white-space: nowrap; */
  }

  .grupa:active {

  }
  .grupa:focus {

  }
  .message, #dodajGrupe-dropdown, #tree, #latestGroups {
    scrollbar-color: #3949ab ghostwhite !important;
    scrollbar-width: thin !important;
    }

  #dodajGrupe-dropdown::-webkit-scrollbar-thumb, #tree::-webkit-scrollbar-thumb, .message::-webkit-scrollbar-thumb, #latestGroups::-webkit-scrollbar-thumb{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);*/
    background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#3949ab));
    background-image: -webkit-linear-gradient(bottom, #5ee7df 0%, #3949ab 100%);
    background-image: linear-gradient(to top, #5ee7df 0%, #3949ab 100%);
  }

  #dodajGrupe-dropdown::-webkit-scrollbar, #tree::-webkit-scrollbar, .message::-webkit-scrollbar, #latestGroups::-webkit-scrollbar{
    border-radius: 10px;
    width: 5px;
  }
  #dodajGrupe-dropdown::-webkit-scrollbar-track, #tree::-webkit-scrollbar-track, .message::-webkit-scrollbar-track, #latestGroups::-webkit-scrollbar-track {
    background-color: #ffffff;
    margin-top: 5px;
  }
  #topicName {
    background-color: #3949ab;
    border-top-left-radius: 5px;
    color: white;
  }
  #closeChat {
    /* background-color: #3949ab; */
    border-top-right-radius: 5px;
    color: white;
    right: 2%;
    position: absolute;
  }

  .imieWiadom {
    color: gray; 
    float: right; 
    font-size: small; 
    text-align: left; 
    padding-left: 10px;
  }

  .imieWiadommoja {
    color: gray; 
    float: right; 
    font-size: small; 
    text-align: right; 
    padding-right: 8px;
    padding-bottom: 3px;
  }

  #points {
    height: 12.2%; 
    display: flex;
  }

  #points button {
    padding: auto;
    padding-left: 8px;
  }
  .treeView i {
    float: left;
  }

  .has-parent {
    width: 140px; 
    display: none;
  }

  .has-tree {
    width: 120px; 
    padding: 0;
  }

  .line {
    height: 10px;
    width: 10px;
    margin: 0;
    /*border-bottom: 1px solid gray;*/
  }

  .poziom-2 {
    /*border-left: 1px solid gray;*/
    margin-left: 6px;
  }

  .poziom-3 {
    /*border-left: 1px solid gray;*/
    margin-left: 18% !important;
  }

  .poziom-1 button {
    padding-left: 0%;
  }

  .poziom-2 button {
    margin-left: 18% !important;
    font-size: smaller;
  }

  .poziom-3 button {
    margin-left: 22% !important;
  }

  .poziom-4 button {
    margin-left: 33% !important;
  }

  
  @keyframes ellipsis {
    to {
      width: 20px;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 20px;    
    }
  }

  .cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    /* width: 80%;  */
   /* max-width: 240px;*/
    white-space: nowrap;
  }